@import "tailwindcss";

:root {
  --primary: #00a651;
  --primary-dark: #008c44;
  --primary-light: #e8f5e9;
  --accent: #ff6b35;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-green-600 to-green-500 bg-clip-text text-transparent;
  }
  
  .btn-gradient {
    @apply bg-gradient-to-r from-green-600 to-green-500;
  }
}
